@model Movie
@{
    ViewBag.Title = $"Details about {@Model.OriginalTitle}";
}
<h2>@Model.Title</h2>
<div class="col-md-3">
    <img src="@Url.Content(Model.PosterUrl)" alt="Movie Poster" class="img-fluid" />
</div>
<div class="col-md-8">
    <h1>Details about @Model.Title</h1>
    <p><strong>Title:</strong> @Model.Title</p>
    <p><strong>Genre:</strong> @String.Join(", ", Model.Genres)</p>
    <p><strong>Release Date:</strong> @Model.ReleaseDate.ToShortDateString()</p>
    <p><strong>Runtime:</strong> @Model.Runtime minutes (@TimeSpan.FromMinutes(@Model.Runtime).ToString(@"hh\:mm"))</p>
</div>
