@model MoviesLibrary.Web.Models.Movie[]
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, MoviesLibrary.Web
<!DOCTYPE html>
<html>
<head>
    <title>Movies Library</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <bootstrap-css />
    <link rel="stylesheet" type="text/css" href="/CSS/styles.css" />
    <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js"></script>
    <bootstrap-js />
    <script>
        $(function(){
            // Script runs at DOM completion
            $("tr")
                .css("cursor", "pointer")      // Set cursor to a hand when on the table row
                .on({
                    "click": function(){    // Click handler for the table row
                        var mID = $(this).data("id");
                        if (mID)
                            window.location.href = "@Url.Action("details", "movies")?id=" + mID;
                    },
                    "mouseover": function(){
                        $(this).addClass("jh-highlight");
                        $("> *", this).addClass("jh-highlight");
                    },
                    "mouseout": function(){
                        $(this).removeClass("jh-highlight");
                        $("> *", this).removeClass("jh-highlight");
                    }
                });
            console.log("Events connected");
        });
    </script>
</head>
<body>
    <nav class="navbar navbar-expand">
        <div class="container-fluid">
            <a class="navbar-brand" href="@Url.Action("Index", "Movies")">Movies Library</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <a class="nav-link" href="@Url.Action("Index", "Movies")">Home</a>
                <a class="nav-link" href="@Url.Action("Add", "Movies")">Add Movie</a>
            </div>
        </div>
    </nav>
    <div class="container">
        <h1>Movies Library</h1>
        <div class="row">
            <div class="col-md-12">
                <h2>Movie List</h2>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Genre</th>
                            <th>Release Date</th>
                            <th>Runtime (mins)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var movie in Model)
                        {
                            <tr data-id="@movie.Id">
                                <td>@movie.Title</td>
                                <td>@String.Join(",", movie.Genres)</td>
                                <td>@movie.ReleaseDate.ToShortDateString()</td>
                                <td>@movie.Runtime</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>